<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vichtisproductions.focusting">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".func_debug.stage1.DebugStage1Activity"
            android:label="@string/activity_debug_stage_1_activity_title"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".func_debug.stage2.DebugStage2Activity"
            android:label="@string/activity_debug_stage_2_activity_title"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".func_debug.stage3.DebugStage3Activity"
            android:label="@string/activity_debug_stage_3_activity_title"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".func_debug.stage4.DebugStage4Activity"
            android:label="@string/activity_debug_stage_4_activity_title"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".func_debug.stage5.DebugStage5Activity"
            android:label="@string/activity_debug_stage_5_activity_title"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".func_debug.stage6.DebugStage6Activity"
            android:label="@string/activity_debug_stage_6_activity_title"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android.name=".view.ResearchInformationSheet"
            android:label="@string/labelRISTitle"
            android:name=".view.ResearchInformationSheet" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android.name=".view.TakeTheTest"
            android:label="@string/labelTakeTheTestViewTitle"
            android:name=".pretest.PreTestActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".func_debug.EditSetupActivity"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>

        <service
            android:name=".services.TrackerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>